 ##该vm用于后续的动态扩展 ##//查询返回值       ##temp = (${operation.simpleReturnType}) getSqlMapClientTemplate().queryForObject("${operation.mappedStatementId}", ${paramName});	  ##//将机密后的字段放入查询时做了保护性的字段##此处需要判断下做保护性字段的数据类型         ##String methodName = "set$!{finalRet}";		 ##Method[] methods = ${table.getQualifiedDOClassName()}.class.getMethods();		 ##Method realMethod = null;		 ##for(Method m:methods) {		     ##if(m.getName().equals(methodName)){        		  ##realMethod=m;        		  ##break;        	  ##}		## }		 ##try {			##realMethod.invoke(opDO,temp.get$!{finalRet}());		##} catch (IllegalArgumentException e) {		       ##logger.warn("error");		##} catch (IllegalAccessException e) {			##logger.warn("error");		##} catch (InvocationTargetException e) {			##logger.warn("error");		##}                   ##return temp