##区分用户是否配置机密性及完整性字段
##如果配置机密性及完整性
#if((${table.getTableConfig().bConfidentiality()} == true)||(${table.getTableConfig().bIntegrity()} == true))
#parse ("operation/opbody-update-new.vm")
#else
#parse ("operation/opbody-update-old.vm")
#end	